<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description"
    content="ANCOR: AI, Neuro, CogSci Research Talks. Organized at the Department of Computer Science, Carney Center for Computational Brain Science (CCBS), and Department of Cognitive and Psychological Sciences at Brown University.">
  <meta name="keywords" content="ANCOR, AI, Neuroscience, Cognitive Science, research, seminar">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ANCOR: AI, Neuro, CogSci Research Talks</title>

  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-PYVRSFMDRL');
  </script>

  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">

  <link rel="stylesheet" href="./static/css/bulma.min.css">
  <link rel="stylesheet" href="./static/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="./static/css/bulma-slider.min.css">
  <link rel="stylesheet" href="./static/css/fontawesome.all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="./static/css/index.css">
  <link rel="icon" href="./static/images/favicon.svg">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="./static/js/fontawesome.all.min.js"></script>
  <script src="./static/js/bulma-carousel.min.js"></script>
  <script src="./static/js/bulma-slider.min.js"></script>
  <script src="./static/js/index.js"></script>



</head>

<body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
        <a class="navbar-item" href="https://brown-ancor.github.io">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
        </a>

      </div>

    </div>
  </nav>


  <section class="hero">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <h1 class="title is-2 publication-title">⚓ ANCOR: AI<sub>🤖</sub> Neuro<sub>🧠</sub>
              CogSci<sub>⚙</sub> Research talks</h1>
            <div class="is-size-5 publication-authors">
              <span class="author-block">
                <sup>🤖</sup><a href="https://cs.brown.edu/events/" target="_blank">Department of Computer Science</a>
                &nbsp;&nbsp;
              </span>
              <span class="author-block">
                <sup>🧠</sup><a href="https://ccbs.carney.brown.edu/events" target="_blank">Carney Center for
                  Computational Brain
                  Science (CCBS)
                </a>
                &nbsp;&nbsp;
              </span>
              <span class="author-block">
                <sup>⚙</sup><a href="https://copsy.brown.edu/events" target="_blank">Department of Cognitive and
                  Psychological
                  Sciences
                </a>
              </span>
            </div>

            <div class="is-size-5 publication-authors">
              <span class="author-block"><sup></sup><span style="color: brown;">Brown University</span></span>
            </div>
          </div>
        </div>

        <div class="column has-text-centered">
          <div class="publication-links">
            <!-- Mailing list Link. -->
            <!--
            <span class="link-block">
              <a href="" class="external-link button is-normal is-rounded is-dark">
                <span class="icon">
                  <i class="fab fa-mail"></i>
                </span>
                <span>Sign up for the mailing list! (coming soon)</span>
              </a>
            </span>
            -->
            <!-- Calendar Link. -->
            <span class="link-block">
              <a href="https://calendar.google.com/calendar/embed?src=c_afd71420664ba5d17f5f2918bb58ad7b466a338d17d307cb820c51a10c476ccb%40group.calendar.google.com&ctz=America%2FNew_York"
                class="external-link button is-normal is-rounded is-dark">
                <span class="icon">
                  <i class="fab fa-google"></i>
                </span>
                <span>Google calendar</span>
              </a>
            </span>

          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section class="hero teaser">
    <div class="container is-max-desktop">
      <div class="hero-body">
        <h2 class="subtitle">
          <b>Fridays at 2pm</b>
          <br>Organized across locations at Brown University
          home to the AI, Neuro, and Cog research communities (check each event for location; click below for map
          links):
          <br>
          {% for location in info.locations %}
          - <a href="{{location.gmaps}}" target="_blank">{{location.name}}</a>{% if not loop.last %},<br>{% endif %}
          {% endfor %}
          <br>
          <!-- ANCOR talks are also Carney Center for Computational Brain Science (CCBS) events. -->
        </h2>
        <h3>Organized by <br>
          {% for person in info.contact %}
          <b>{{person.name}}</b> ({{person.email}}) {% if not loop.last %} &nbsp;&&nbsp; {% endif %}
          {% endfor %}
        </h3>
      </div>
    </div>
  </section>


  <section class="">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column is-10">
          <div class="content">
            <!-- <h2 class="title is-4">Event schedule</h2> -->
            <div class="columns is-multiline">
              <div class="column is-12">

                <!-- CONTENT EDITED FROM HERE: [a] -->

              </div>
            </div>
  </section>


  <section class="">
    <div class="container is-max-desktop">
      <div class="columns" style="margin: 2%;">

        <!-- Column for future talks -->
        <div class="column is-half">
          <h2 class="title is-4">Upcoming Talks</h2>
          {% for event in talks|sort(attribute='date') %}
          {% if event.date >= current_date %}
          <div class="card" style="background-color:lightyellow">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{event.title}}</p>
                  <p class="is-4">
                    {%if event.speakerlink %}<a href="{{event.speakerlink}}"
                      target="_blank"><b>{{event.speaker}}</b></a>
                    {% else %} <b>{{event.speaker}}</b>
                    {% endif %}
                  </p>
                  <p class="is-5">{{event.affiliation}}</p>
                  &nbsp;
                  <p><b>Date:</b> {{event.date.strftime("%B %d, %Y (%A)")}} at {{event.time}}</p>
                  <p><b>Location:</b> {{event.location}}</p>
                </div>
              </div>
            </div>
          </div>
          &nbsp;
          {% endif %}
          {% endfor %}
        </div>

        <!-- Column for past talks -->
        <div class="column is-half">
          <h2 class="title is-4">Past Talks</h2>
          {% for event in talks|sort(attribute='date', reverse=True) %}

          {% if event.date < current_date %} <div class="card"
            style="background-color:{% if event.cancelled %}lightgray{% else %}blanchedalmond{% endif %}">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{event.title}}</p>
                  <p class="is-4">
                    {%if event.speakerlink %}<a href="{{event.speakerlink}}"
                      target="_blank"><b>{{event.speaker}}</b></a>
                    {% else %} <b>{{event.speaker}}</b>
                    {% endif %}
                  </p>
                  <p class="is-5">{{event.affiliation}}</p>
                  &nbsp;
                  <p><b>Date:</b> {{event.date.strftime("%B %d, %Y (%A)")}} at {{event.time}}</p>
                  <p><b>Location:</b> {{event.location}}</p>
                </div>
              </div>
            </div>
        </div>
        &nbsp;
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>




  <footer class="footer">
    <div class="container">
      <!-- <div class="content has-text-centered">
        <a class="icon-link" href="./static/videos/nerfies_paper.pdf">
          <i class="fas fa-file-pdf"></i>
        </a>
        <a class="icon-link" href="https://github.com/keunhong" class="external-link" disabled>
          <i class="fab fa-github"></i>
        </a>
      </div> -->
      <div class="columns is-centered">
        <div class="column is-8">
          <div class="content">
            <p>
              This website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"
                target="_blank">Creative
                Commons Attribution-ShareAlike 4.0 International License</a>.
            </p>
            <p>

              This means you are free to borrow the <a href="https://github.com/brown-ancor/brown-ancor.github.io/"
                target="_blank">source
                code</a> of this website, we just ask that you link back to this page in the footer. (Originally adapted
              from <a href="https://github.com/nerfies/nerfies.github.io">Nerfies</a>).
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>